# Ignore source and config files
src/
tsconfig.json
.eslintrc.json
.prettierrc.json
.vscode/
.idea/

# Ignore build artifacts and logs
node_modules/
.tscache/
.module-cache/
*.log*

# Ignore platform-specific and temporary files
.DS_STORE
.python-version

# Ignore documentation, tests, and deployment scripts
.docz/
__test__/
__mock__/
__sandbox__/
deploy.sh
deploy-toolkit.yaml