.Wrapper {
    align-items: center;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    flex-flow: row nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.Wrapper > * {
    box-sizing: border-box;
    flex-shrink: 0;
}

.Wrapper::-webkit-scrollbar {
    display: none;
}
